<mat-tab-group (selectedTabChange)="eventToShow = null">
  <mat-tab label="All Registered">
    <div class="container-fluid px-0">
      <div class="row mx-0 w-100">
        <!-- Search field with buttons -->
        <div class="row w-100 mx-0 mb-2">
          <div class="col-sm">
            <div class="input-group">
              <mat-form-field class="w-25" appearance="outline">
                <input
                  matInput
                  type="text"
                  placeholder="Search"
                  (keyup)="searchingItems($event)"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Search field with buttons -->
        <!-- Table card section  -->
        <div
          class="ml-2"
          [ngClass]="{ 'table-section': eventToShow, 'w-100': !eventToShow }"
          *ngIf="eventsAnalytics$ | async"
        >
          <mat-card class="w-100 mb-4 p-0 overflow-hidden">
            <div
              class="table-responsive"
              [ngClass]="{ 'overflow-hidden': !eventToShow }"
            >
              <table class="table table-bordered table-hover w-100">
                <thead>
                  <tr class="text-muted">
                    <th>SN</th>
                    <th *ngFor="let header of allRegisteredHeaders">
                      {{ header?.column }}
                    </th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngIf="eventsByProgramId$ | async as eventAnalytics">
                  <tr
                    *ngFor="
                      let row of eventAnalytics
                        | filterBy: allRegisteredFilters:searchText
                        | slice: lowValue:highValue;
                      let i = index;
                      trackBy: trackByFn
                    "
                  >
                    <td (click)="showEventData(row)">
                      {{ getRowNumber(row, eventAnalytics) }}
                    </td>
                    <td
                      *ngFor="let header of allRegisteredHeaders"
                      (click)="showEventData(row)"
                    >
                      <p *ngIf="header?.name !== commonIds.CASE_NUMBER">
                        {{
                          header.valueType === 'DATE'
                            ? (row[header?.name]?.value | date)
                            : row[header?.name]?.value
                        }}
                      </p>
                      <div *ngIf="header?.name === commonIds.CASE_NUMBER">
                        <p *ngIf="row[header?.name]?.value">
                          {{ row[header?.name]?.value }}
                        </p>
                        <button
                          mat-icon-button
                          *ngIf="!row[header?.name]?.value"
                          style="color: gray;"
                          (click)="addCaseNumber(row)"
                        >
                          <mat-icon>edit</mat-icon>
                        </button>
                      </div>
                    </td>

                    <td>
                      <button
                        mat-stroked-button
                        color="primary"
                        class="mt-2 ml-2 button-height"
                        *ngIf="
                          row[reportedToRRTId]?.value === 'No' ||
                          !row[reportedToRRTId]?.value
                        "
                        (click)="updateReportToRRT(row)"
                      >
                        Report to RRT
                      </button>
                      <p
                        *ngIf="
                          row[reportedToRRTId]?.value === 'Yes' ||
                          row[reportedToRRTId]?.value === 'true'
                        "
                      >
                        <i style="color: gray">
                          This case has already been reported to RRT
                        </i>
                      </p>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="eventsLoadingErrorStatus$ | async">
                  <td colspan="100%" style="border-right: 1px solid #dee2e6">
                    <i>There is no data to show at the moment.</i>
                  </td>
                </tbody>
                <tbody
                  *ngIf="
                    !(eventsLoading$ | async) &&
                    !(eventsByProgramId$ | async).length
                  "
                >
                  <td colspan="100%" style="border-right: 1px solid #dee2e6">
                    <i>There is no case to show</i>
                  </td>
                </tbody>
                <tbody
                  *ngIf="
                    (eventsLoading$ | async) &&
                    !(eventsLoadingErrorStatus$ | async)
                  "
                >
                  <td colspan="100%" style="border-right: 1px solid #dee2e6">
                    <div>Loading data</div>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                  </td>
                </tbody>
                <tbody
                  *ngIf="
                    (
                      eventsAnalytics$
                      | async
                      | filterBy: allRegisteredFilters:searchText
                    )?.length < 1 && (eventsAnalytics$ | async)?.length > 0
                  "
                >
                  <tr>
                    <td colspan="10">
                      <label class="text-muted text-center w-100 h3">
                        Session not found</label
                      >
                    </td>
                  </tr>
                </tbody>
                <tfoot
                  *ngIf="
                    (
                      eventsByProgramId$
                      | async
                      | filterBy: allRegisteredFilters:searchText
                    )?.length > 0
                  "
                >
                  <tr>
                    <td [attr.colspan]="17">
                      <mat-paginator
                        [length]="(eventsByProgramId$ | async).length"
                        [pageSize]="pageSize"
                        (page)="onPageChange($event)"
                      >
                      </mat-paginator>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </mat-card>
        </div>
        <!-- End of Table card section  -->
        <div class="info-section mr-2 ml-4" *ngIf="eventToShow">
          <app-view-event
            [event]="eventToShow"
            [headers]="allHeaders"
            (closeEvent)="closeEventDataSection($event)"
          ></app-view-event>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab class="overflow-hidden" label="Reported to RRT">
    <div class="container-fluid px-0">
      <div class="row mx-0 w-100">
        <!-- Search field with buttons -->
        <div class="row w-100 mx-0 mb-2">
          <div class="col-sm">
            <div class="input-group">
              <mat-form-field class="w-25" appearance="outline">
                <input
                  matInput
                  type="text"
                  placeholder="Search"
                  (keyup)="searchingItems($event)"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Search field with buttons -->
        <!-- {{eventsAnalytics$ | async | json }} -->

        <!-- Table card section  -->
        <div
          class="row w-100 ml-2 overflow-hidden"
          [ngClass]="{ 'table-section': eventToShow, 'w-100': !eventToShow }"
          *ngIf="eventsAnalytics$ | async"
        >
          <mat-card class="w-100 mb-4 p-0 overflow-hidden">
            <table class="table table-bordered overflow-hidden">
              <thead>
                <tr class="text-muted">
                  <th>SN</th>
                  <th *ngFor="let header of reportedToRRTHeaders">
                    {{ header?.column }}
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="eventsByProgramId$ | async as eventAnalytics">
                <tr
                  *ngFor="
                    let row of getReportedToRRTEvents(eventAnalytics)
                      | filterBy: reportedToRRTFilters:searchText
                      | slice: rLowValue:rHighValue;
                    let i = index
                  "
                >
                  <td>
                    {{
                      getRowNumber(row, getReportedToRRTEvents(eventAnalytics))
                    }}
                  </td>
                  <td *ngFor="let header of reportedToRRTHeaders">
                    <p>
                      {{
                        header.valueType === 'DATE'
                          ? (row[header?.name]?.value | date)
                          : row[header?.name]?.value
                      }}
                    </p>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="eventsLoadingErrorStatus$ | async">
                <td colspan="100%" style="border-right: 1px solid #dee2e6">
                  <i>There is no data to show at the moment.</i>
                </td>
              </tbody>
              <tbody
                *ngIf="
                  (eventsLoading$ | async) &&
                  !(eventsLoadingErrorStatus$ | async)
                "
              >
                <td colspan="100%" style="border-right: 1px solid #dee2e6">
                  <div>Loading data</div>
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </td>
              </tbody>
              <tbody
                *ngIf="
                  (
                    eventsAnalytics$
                    | async
                    | filterBy: reportedToRRTFilters:searchText
                  )?.length < 1 && (eventsAnalytics$ | async)?.length > 0
                "
              >
                <tr>
                  <td colspan="10">
                    <label class="text-muted text-center w-100 h3">
                      Session not found</label
                    >
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr *ngIf="eventsAnalytics$ | async as eventAnalytics">
                  <td [attr.colspan]="13">
                    <mat-paginator
                      [length]="
                        getEventsWithCallerMeetCase(eventAnalytics).length
                      "
                      [pageSize]="rPageSize"
                      (page)="rOnPageChange($event)"
                    >
                    </mat-paginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </mat-card>
        </div>
        <!-- End of Table card section  -->
        <div class="info-section mr-2 ml-4" *ngIf="eventToShow">
          <app-view-event
            [event]="eventToShow"
            [headers]="reportedToRRTHeaders"
            (closeEvent)="closeEventDataSection($event)"
          ></app-view-event>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
